<div class="row">
  <div class="col-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        href="#"
        class="list-group-item list-group-item-action"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients;">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
