<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="pl-3 col-12 list-group">
    <a
      href="#"
      class="list-group-item list-group-item-action"
      *ngFor="let recipe of recipes;">
      <div class="float-left">
        <h4>{{ recipe.name }}</h4>
        <p>{{ recipe.description }}</p>
      </div>
      <span class="float-right">
        <img
          [src]="recipe.imagePath"
          [alt]="recipe.name"
          class="img-fluid"
          style="margin-top: 12px; max-height: 50px;">
      </span>
    </a>
  </div>
</div>
